
.about_content
  %center
    %p
      %div.title
        %span.title Transmission de mot de passe<small>Password Pusher</small>
        %br
        %span.tagline Allez-y.  Transférez encore un mot de passe par email.
    %p PasswordPusher est une application pour transmettre de manière sécurisée des mots de passe. Le lien vers un mot de passe expire après un certain nombre de vue et/ou temps passé.


    